@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    /* box-sizing: border-box; */
    font-family: 'Open Sans', sans-serif;
    
}
.banner{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.445),rgba(0, 0, 0, 0.445)), url(../images/cow1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.info{
    width: 90%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text h1{
    margin-top: 180px;
    font-size: 55px;
    margin-bottom: 10px;
}
.hero-text p{
    font-size: 14px;
    margin-bottom: 30px;
    width: 40%;
}

.hero-text a{
    text-decoration: none;
    display: inline-block;
    /* background-image: linear-gradient(tomato,red); */
    background-color: #EF233C;
    padding: 20px 50px;
    margin-top: 50px;
    border-radius: 6px;
    font-weight: 500;
}

.hero-text a:hover{
    background: black;
    color: tomato;
}